* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #FAFAFA;
}

h1, li a {
  padding-top: 30px;
  font-family: 'Ubuntu', sans-serif;
}

nav li:hover, .back-to-top .top a:hover {
  background-color: black;
  opacity: 0.5;
}


.name-nav {
  text-align: center;
  color: black;
}

.name-nav nav ul li {
  font-size: 1.5em;
  padding: 10px;
  margin: 10px;
}

.name-nav-footer {
  display: none;
}

.back-to-top {
  display: block;
}

main {
  background-color: #FFFFFF;
  padding: 30px 0;
  margin: 50px 0;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 5%;
}

img {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2, h3 {
  text-align: center;
}

h2 {
  text-transform: uppercase;
}

h3 {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  text-align: center;
  line-height: 1.5;
  font-size: 1.25rem;
}

footer h2 {
  margin-bottom: 50px;
}

footer h2:hover {
  font-size: 2em;
}

footer .footer-info {
  margin-bottom: 50px;
}

footer span {
  font-weight: bold;
  margin-left: 20px;
  color: #7F7F7F;
}

.back-to-top li {
  display: inline-block;
  background-color: #FAFAFA
}

.back-to-top .top a {
  padding: 10px;
}

.back-to-top {
  padding-top: 10px;
  border-top: 1px solid #E7E7E7;
  display: block;
}

.back-to-top .student-name {
  float: left;
  width:50%;
}

.back-to-top .top {
  float: right;
  width:50%;
  text-align: right;
}

.back-to-top .student-name, .top {
  font-size: 1.25rem;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:link {
  color: inherit;
}

a:visited {
  color: #7F7F7F;
}

.skills {
  margin-bottom: 40px;
  width: 100%;
  padding:1em;
}
.skills p{
  text-align: center;
}
.skills ul{
  margin-left: 1em;
}
.skills li{
  padding: 1em;
}
.skills li:hover{
  border: 1px solid black;
  border-radius: 5px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media (min-width:768px){
  .skills p{
    text-align: left;
  }
  .skills ul li{
    display:inline-block;
    padding: 1.25em;
  }
  img {
    width: 100%;
    margin: 0;
  }

  .name-nav nav ul li {
    display: inline-block;
  }

  .name-nav nav ul {
    display: inline-block;
  }

  header img {
    max-width: 40%;
    margin: 0 0 0 0;
    float: right;
  }

  header p {
    max-width: 55%;
    float: left;
    text-align: left;
    margin: 0;
  }

  .col {
    float: left;
    width: calc(50% - 10px/2);
  }

  .portfolio-container {
    width: 100%;
  }

  .portfolio-container img {
    width: 100%;
  }

  .inner {
    width: 98%;
    margin: 30px auto 0 auto;
  }

  .col:nth-child(2n+2) {
    margin-left: 10px;
  }

  .back-to-top {
    display: none;
  }

  .name-nav-footer {
    display: block;
    font-size: 1em;
    padding-top: 10px;
    border-top: 1px solid #E7E7E7;
    width: 100%;
  }

  .name-nav-footer .name {
    padding-top: 10px;
  }

  .name-nav-footer nav ul li {
    display: inline-block;
    padding: 10px;
    margin: 0;
  }

  .name-nav-footer nav ul {
    display: inline-block;
  }

  .name-nav-footer .name {
    float: left;
    margin: 0;
  }

  .name-nav-footer nav {
    float: right;
  }

  .name-nav-footer nav ul li:nth-of-type(2) {
    margin: 0 1em;
  }
}

@media (min-width:1024px) {
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  .col {
    width: calc(33.33% - 20px/3);
  }

  .col:nth-child(2n+2) {
    margin-left: 0;
  }

  .col:nth-child(3n+2) {
    margin: 0 10px;
  }

  .name-nav {
    margin-bottom: 50px;
  }

  .name {
    float: left;
    margin: 0;
  }

  nav {
    float: right;
  }

  nav ul {
    display: inline-block;
  }

  nav ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  nav ul li:nth-of-type(2) {
    margin: 0 1em;
  }
}
